* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* common */

body {
    font-family: 'Fredoka', sans-serif;
}

img {
    width: 80px;
    float: left;
}

/* first section/header */

#total-container {
    width: 60%;
    margin: auto;
    text-align: center;
    }

h1 {
    color: red;
    margin: 30px 0;
    font-family: 'Fredoka One', cursive;
}

#introduction {
    margin: 20px 0;
}

/* second section/content */

.card-container {
    background-color: black;
    font-size: 14px;
    box-shadow: 5px;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.column {
    width: calc(100% / 3);
    float: left;
    padding: 10px 10px;
}

.content {
    color: white;
    text-align: left;
    float: left;
    width: calc(100% - 80px);
    line-height: 20px;
    font-size: 12px;
    padding-top: 10px;
    padding-left: 5px;
}

.member-name {
    font-family: 'Fredoka One', cursive;
}

.member-email {
    color: aqua;
}